header {
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: space-around;

  .header__logo {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    ul {
      display: flex;
      li a:hover {
        color: $color-principal;
      }
    }
  }

  .a-header {
    text-decoration: none;
    font-size: 22px;
    margin: 24px;
    font-weight: 300;
    color: var(--gris);
  }

  .a-header:last-child {
    margin-right: 0;
  }
}

.borde-cortado {
  width: 20%;
  height: 3px;
  background: $color-principal;
  margin-left: 24px;
  display: none;
}

#burger-menu {
  font-size: 52px;
  text-align: center;
  z-index: 4;
  display: none;
  position: fixed;
  top: 1%;
  right: 3%;
  cursor: pointer;
  transition: 1s;
  z-index: 200;
  outline: none;
}

#burger-menu:hover {
  transform: scale(1.2);
}

.menu.is-active {
  left: 0vw;
  transition: 1s;
}

@media screen and (max-width: 850px) {
  header {
    /* height: 50px; */
    display: block;
    padding: 10px 24px;
    a {
      font-size: 20px;
    }
    .menu {
      background: $color-background;
      position: fixed;
      top: 10%;
      left: -200vw;
      width: 100%;
      transition: 1s;
      z-index: 100;
      text-align: center;
      ul {
        padding: 0;
        justify-content: center;
        display: grid;
        a {
          text-transform: uppercase;
          font-weight: bold;
          color: $color-principal;
          cursor: pointer;
        }
      }
    }
    #burger-menu {
      display: block;
      position: fixed;
    }
  }
  .header__logo {
    display: fixed;
  }

  #burger-menu {
    right: 4%;
  }
}

@media screen and (max-width: 600px) {
  header {
    .header__logo {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #burger-menu {
    right: 8%;
  }
}
