.imagen-cool {
  height: 450px;
  background-image: url(./img/bg-curvy-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 68%;
  left: 0;
  right: 0;
}

.elcontainer {
  background: #13223c;
}

.sobremi {
  margin-top: 264px;
  position: relative;
  color: white;
  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #2bc48a;
    font-size: 42px;
  }
  &__imagen {
    img {
      height: 300px;
      border-radius: 67px;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 430px 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap: 61px;
  }
}
