body {
  font-size: 16px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #bebebe;
}

li {
  list-style: none;
}

header {
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
}
header nav ul li a:hover {
  color: #2bc48a;
}
header a {
  text-decoration: none;
  font-size: 22px;
  margin: 24px;
  font-weight: 300;
  color: var(--gris);
}

.borde-cortado {
  width: 20%;
  height: 3px;
  background: #2bc48a;
  margin-left: 24px;
  display: none;
}

#burger-menu {
  font-size: 52px;
  text-align: center;
  z-index: 4;
  display: none;
  position: fixed;
  top: 1%;
  right: 3%;
  cursor: pointer;
  transition: 1s;
  z-index: 200;
  outline: none;
}

#burger-menu:hover {
  transform: scale(1.2);
}

.menu.is-active {
  left: 0vw;
  transition: 1s;
}

@media screen and (max-width: 850px) {
  header {
    /* height: 50px; */
    /* #burger-menu {
      display: block;
    } */
  }
  header a {
    font-size: 20px;
  }
  header .menu {
    background: #13223c;
    position: fixed;
    top: 10%;
    left: -200vw;
    width: 100%;
    transition: 1s;
    z-index: 100;
    text-align: center;
  }
  header .menu ul {
    padding: 0;
    justify-content: center;
    display: grid;
  }
  header .menu ul a {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2bc48a;
    cursor: pointer;
  }

  .header__logo {
    display: none;
  }

  #burger-menu {
    right: 4%;
  }
}
@media screen and (max-width: 450px) {
  #burger-menu {
    right: 10%;
  }
}
.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h2 {
  font-weight: 300;
  letter-spacing: 18px;
  color: #bebebe;
  text-align: center;
}
.hero h1 {
  font-size: 36px;
  margin: 0;
  color: #13223c;
}
.hero h1 li {
  font-size: 42px;
  color: #2bc48a;
}
.hero h3 {
  font-weight: 300;
}
.hero ul {
  width: 430px;
  overflow: hidden;
  display: inline-block;
  height: 60px;
  margin-bottom: -20px;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

.logos {
  width: 75px;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 38%;
  left: 3%;
}
.logos .logo {
  color: gray;
  line-height: 3;
  padding: 4px;
  border-radius: 6px;
}
.logos a {
  text-decoration: none;
  font-size: 22px;
  margin: 24px;
  font-weight: 300;
  color: var(--gris);
}

/********************Icons y sus animaciones*/
.icon-twitter {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

.icon-instagram {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

.icon-github {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

@keyframes socialMedia {
  0% {
    margin-left: -62px;
  }
  100% {
    opacity: 1;
    margin-left: 24px;
  }
}
/********************Mover el andres betancour y frontend dev*/
.elemento:first-child {
  animation-name: moverTexto;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moverTexto {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -65px;
  }
  100% {
    margin-top: 0;
  }
}
/********************Icons hover*/
.icon-instagram:hover {
  background: #fbdf04;
  background: linear-gradient(45deg, #fb8c04 0%, #f42d87 100%);
  color: white;
}

.icon-twitter:hover {
  background: #1da1f2;
  color: white;
}

.icon-github:hover {
  background: #414141;
  color: white;
}

@media screen and (max-width: 850px) {
  .hero {
    display: block;
    height: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .hero ul {
    height: 55px;
  }
  .hero h2 {
    font-weight: 300;
    letter-spacing: 16px;
    color: #bebebe;
  }
  .hero h1 {
    font-size: 32px;
    margin: 0;
    color: #4b576d;
  }
  .hero h1 li {
    font-size: 38px;
    color: #2bc48a;
  }
  .hero h3 {
    font-size: 16px;
    font-weight: 300;
  }

  .logos {
    text-align: center;
    z-index: 5;
    width: auto;
    position: initial;
  }
  .logos__container {
    position: inherit;
  }
  .logos .logo {
    padding: 4px;
    border-radius: 6px;
  }
  .logos a {
    text-decoration: none;
    font-size: 22px;
    margin: 24px;
    font-weight: 300;
    color: var(--gris);
  }
}
@media screen and (max-width: 450px) {
  .hero {
    margin-bottom: 360px;
  }
  .hero ul {
    height: 42px;
  }
  .hero h2 {
    font-weight: 300;
    letter-spacing: 14px;
    color: #bebebe;
    margin: 0;
  }
  .hero h1 {
    display: grid;
    justify-content: center;
    font-size: 28px;
    margin: 0;
    margin-bottom: 40px;
    color: #4b576d;
  }
  .hero h1 li {
    font-size: 30px;
    color: #2bc48a;
  }
  .hero h3 {
    font-size: 14px;
    font-weight: 300;
  }

  @keyframes moverTexto {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: -45px;
    }
    100% {
      margin-top: 0;
    }
  }
}
.imagen-cool {
  height: 450px;
  background-image: url(./img/bg-curvy-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 68%;
  left: 0;
  right: 0;
}

.elcontainer {
  background: #13223c;
}

.sobremi {
  margin-top: 264px;
  position: relative;
  color: white;
  padding-bottom: 76px;
}
.sobremi h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #2bc48a;
  font-size: 42px;
}
.sobremi__imagen img {
  height: 300px;
  border-radius: 67px;
}
.sobremi__container {
  display: grid;
  grid-template-columns: 430px 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-gap: 61px;
}

@media screen and (max-width: 1050px) {
  .sobremi h1 {
    margin-top: 0;
  }
  .sobremi__container {
    grid-template-columns: 500px;
  }
}
@media screen and (max-width: 600px) {
  .sobremi h1 {
    font-size: 32px;
  }
  .sobremi__container {
    grid-gap: 18px;
  }
}
@media screen and (max-width: 400px) {
  .sobremi__container {
    grid-template-columns: 338px;
  }
}
.habilidades__container {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  grid-gap: 20px;
}
.habilidades__container .caja {
  text-align: center;
  padding: 14px;
  background: #15294c;
  border-radius: 6px;
  /* box-shadow: 6px 10px 12px -4px #d3d0d0; */
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

.nivel {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nivel p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.hight-father {
  border-radius: 6px;
  padding: 4px;
  width: 100%;
  background: #b2b2b254;
  box-sizing: border-box;
}

.hight {
  height: 6px;
  background: linear-gradient(to bottom right, #007ca6 0%, #2bc48a 100%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 70%;
}

.caja:hover {
  transform: scale(1.2);
  z-index: 50;
}

@keyframes caja {
  to {
    transform: scale(1.2);
  }
}
.caja span {
  font-size: 28px;
  padding: 6px;
}

@media screen and (max-width: 1050px) {
  .habilidades__container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    grid-gap: 30px 45px;
  }
}
@media screen and (max-width: 650px) {
  .habilidades__container {
    grid-template-columns: 300px;
  }
  .habilidades__container .caja {
    padding: 28px;
  }
}
@media screen and (max-width: 450px) {
  .habilidades__container {
    grid-template-columns: 300px;
  }
  .habilidades__container p {
    font-size: 14px;
  }
  .habilidades__container .caja {
    padding: 28px;
  }
}
.portafolio {
  background: #13223c;
  padding-bottom: 76px;
}
.portafolio h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #2bc48a;
  font-size: 42px;
  margin-top: 0;
}
.portafolio p {
  text-align: center;
}
.portafolio__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portafolio__box-container {
  background: #15294c;
  border-radius: 6px;
  margin: 8px;
}
.portafolio__box {
  width: 331px;
  height: 200px;
  margin: 14px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
}
.portafolio__texto {
  display: none;
  height: 100%;
  align-items: center;
  color: white;
  background: #0c062a99;
  border-radius: 6px;
}
.portafolio__texto--container {
  text-align: center;
  margin: 0 auto;
  padding: 38px 55px;
  border: 1px dashed white;
}
.portafolio__texto-skills {
  display: flex;
  justify-content: center;
}
.portafolio__texto-skills p {
  margin: 0 6px;
  opacity: 1;
}
.portafolio .box1 {
  background-image: url(./img/portafolio-caja.PNG);
}
.portafolio .box2 {
  background-image: url(./img/flyo.PNG);
}
.portafolio .box3 {
  background-image: url(./img/platzi-video.PNG);
}
.portafolio .box4 {
  background-image: url(./img/platzi-music.PNG);
}
.portafolio .box5 {
  background-image: url(./img/100tifico.PNG);
}

.portafolio__box:hover .portafolio__texto {
  display: flex;
}

.portafolio__imagen {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .portafolio h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .portafolio p {
    font-size: 14px;
  }
}
.contacto {
  padding: 24px;
  position: relative;
}
.contacto h1 {
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  color: #13223c;
}
.contacto h2 {
  text-align: center;
  color: #bebebe;
  font-weight: 400;
}
.contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacto__sujeto {
  display: inherit;
}
.contacto__mensaje {
  display: grid;
  grid-template-rows: 1fr 56px;
}
.contacto__mensaje button {
  margin: 6px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #2bc48a;
  color: white;
  outline: none;
  cursor: pointer;
}

input {
  padding: 8px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  margin: 6px;
}

textarea {
  cursor: auto;
  outline: none;
  border: 1px solid #e8e8e8;
  margin: 6px;
  border-radius: 6px;
  resize: none;
  height: 100px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
  .contacto h1 {
    font-size: 32px;
  }
  .contacto h2 {
    font-size: 22px;
  }
  .contacto form {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .contacto h2 {
    font-size: 16px;
  }
}
footer {
  height: 62px;
  display: flex;
  justify-content: space-around;
  background: #18202e;
  align-items: center;
}
footer a {
  text-decoration: none;
  font-size: 22px;
  margin: 24px;
  padding: 8px;
  font-weight: 300;
  border-radius: 6px;
  color: var(--gris);
}

footer p {
  font-size: 14px;
  margin: 0 auto;
}

.logo-footer {
  color: gray;
  padding: 4px;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
    text-align: center;
    padding: 14px;
  }
  footer p {
    margin: 6px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
