$color-principal: #2bc48a;
$color-principal-oscuro: #298760;
$color-azul: #007ca6;
$color-azul-oscuro-letra: #2f4858;
$color-letras: #bebebe;
$color-background: #13223c;

html {
  scroll-behavior: smooth;
}

:root {
  --animate-delay: 0.3s;
}

body {
  font-size: 16px !important;
  position: relative;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #bebebe;
}

li {
  list-style: none;
}

.active {
  color: $color-principal !important;
}

.botonoo {
  border-radius: 5px;
  padding: 6px 12px;
  background: white;
  color: white;
  background: $color-principal;
  text-decoration: none;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.botonoo:hover {
  color: white;
  text-decoration-line: none;
}

.botonoo:active {
  transform: scale(0.9);
}

.botono {
  border: 1px solid #2bc48a;
  border-radius: 5px;
  padding: 6px 12px;
  background: white;
  color: $color-principal;
  cursor: pointer;
  text-decoration: none;
}

.botonoo:active {
  transform: scale(0.9) !important;
}

.botono:hover {
  background: $color-principal;
  color: white;
  text-decoration-line: none;
}

.card {
  overflow: hidden;
}

.card img {
  transition: 1s;
}
.card img:hover {
  transform: scale(1.1);
}
