.habilidades__container {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  grid-gap: 20px;

  .caja {
    text-align: center;
    padding: 14px;
    background: #15294c;
    border-radius: 6px;
    /* box-shadow: 6px 10px 12px -4px #d3d0d0; */
    transition: 1s;
    outline: none;
    cursor: pointer;
  }
}

.nivel {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.nivel p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.hight-father {
  border-radius: 6px;
  padding: 4px;
  width: 100%;
  background: #b2b2b254;
  box-sizing: border-box;
}

.hight {
  height: 6px;
  background: linear-gradient(to bottom right, #007ca6 0%, #2bc48a 100%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 70%;
}

.hight.html {
  width: 100%;
}

.hight.css {
  width: 90%;
}

.hight.js {
  width: 70%;
}

.hight.react {
  width: 60%;
}

.hight.bootstrap {
  width: 80%;
}

.caja:hover {
  transform: scale(1.2);
  z-index: 50;
}

@keyframes caja {
  from {
  }
  to {
    transform: scale(1.2);
  }
}

.caja span {
  font-size: 28px;
  padding: 6px;
}

@media screen and (max-width: 1050px) {
  .habilidades__container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    grid-gap: 30px 45px;
  }
}

@media screen and (max-width: 650px) {
  .habilidades__container {
    grid-template-columns: 300px;
    .caja {
      padding: 28px;
    }
  }
}

@media screen and (max-width: 450px) {
  .habilidades__container {
    grid-template-columns: 300px;
    p {
      font-size: 14px;
    }
    .caja {
      padding: 28px;
    }
  }
}
