.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__container {
    margin-top: 14vh;
  }

  h2 {
    font-weight: 300;
    letter-spacing: 18px;
    color: $color-letras;
    text-align: center;
  }
  h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold !important;
    color: $color-background;
    li {
      font-size: 42px;
      color: #2bc48a;
    }
  }
  h3 {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 8px;
  }
  ul {
    width: 430px;
    overflow: hidden;
    display: inline-block;
    height: 50px;
    margin-bottom: -20px;
    vertical-align: bottom;
    padding: 0;
    margin: 0;
  }
}

.logos {
  .logo {
    color: gray;
    line-height: 3;
    padding: 4px;
    border-radius: 6px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    margin: 24px;
    font-weight: 300;
    color: var(--gris);
  }
}

/********************Icons y sus animaciones*/

.icon-twitter {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

.icon-instagram {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

.icon-github {
  animation: socialMedia;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  transition: 1s;
  opacity: 0;
}

@keyframes socialMedia {
  0% {
    margin-left: -62px;
  }
  100% {
    opacity: 1;
    margin-left: 24px;
  }
}

/********************Mover el andres betancour y frontend dev*/
.elemento:first-child {
  animation-name: moverTexto;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moverTexto {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0;
  }
}

/********************Icons hover*/

.icon-instagram:hover {
  background: rgb(251, 223, 4);
  background: linear-gradient(
    45deg,
    rgba(251, 140, 4, 1) 0%,
    rgba(244, 45, 135, 1) 100%
  );
  color: white;
}

.icon-twitter:hover {
  background: #1da1f2;
  color: white;
}

.icon-github:hover {
  background: #414141;
  color: white;
}

@media screen and (max-width: 850px) {
  .hero {
    display: block;
    margin-top: 150px;
    ul {
      height: 45px;
    }
    h2 {
      font-weight: 300;
      letter-spacing: 16px;
      color: $color-letras;
    }
    h1 {
      font-size: 32px;
      margin: 0;
      color: #4b576d;
      li {
        font-size: 38px;
        color: #2bc48a;
      }
    }
    h3 {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .logos {
    text-align: center;
    z-index: 5;
    width: auto;
    position: initial;
    &__container {
      position: inherit;
    }
    .logo {
      padding: 4px;
      border-radius: 6px;
    }
    a {
      text-decoration: none;
      font-size: 22px;
      margin: 24px;
      font-weight: 300;
      color: var(--gris);
    }
  }

  @keyframes moverTexto {
    0% {
      margin-top: 0;
    }

    50% {
      margin-top: -60px;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .hero {
    padding: 6px 12px;

    &__container {
      margin-top: 10vh;
    }
    ul {
      height: 42px;
      width: 350px;
    }
    h2 {
      font-weight: 300;
      letter-spacing: 14px;
      color: $color-letras;
      margin: 0;
    }
    h1 {
      display: grid;
      justify-content: center;
      font-size: 28px;
      margin: 0;
      margin-bottom: 40px;
      color: #4b576d;
      li {
        font-size: 30px;
        color: #2bc48a;
      }
    }
    h3 {
      font-size: 14px;
      font-weight: 300;
    }

    .logos {
      .logo {
        color: gray;
        line-height: 3;
        padding: 4px;
        border-radius: 6px;
      }
      a {
        text-decoration: none;
        font-size: 22px;
        margin: 12px;
        font-weight: 300;
        color: var(--gris);
      }
    }
  }
  @keyframes moverTexto {
    0% {
      margin-top: 0;
    }

    50% {
      margin-top: -40px;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .hero {
    ul {
      width: 320px;
    }

    h1 {
      font-size: 26px li {
        font-size: 28px;
      }
    }

    h2 {
      letter-spacing: 12px;
    }
  }
}
